@import url('https://fonts.cdnfonts.com/css/clear-sans');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

@import 'reset';
@import 'variables';
@import 'mixins';

* { 
    font-family: $font;
    font-size: 18px;
    /* outline: 1px solid red; */
}

body {
    background-color: $color2;
}

a:hover,
button:hover {
    cursor: pointer;
}

.container {
    width: 500px;
    margin: 0 auto;
}

@import 'top';
@import 'board';
@import 'bottom';

