@import url('https://fonts.cdnfonts.com/css/clear-sans');

* {
   font-family: "Clear Sans";
}

body {
   background-color: #faf8ef;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 95vh;
   max-height: 100vh;
   max-width: 100vw;
}

#game-container {
    position: relative;
    background-color: #BBADA0;
    display: grid;
    height: 430px;
    width: 430px;
    border-radius: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    color: black;
}

.block {
   height: 100px;
   width: 100px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #CDC1B4;
   font-size: 55px;
   font-weight: 700;
   color: white;
}

.x2 {
    background-color: #EEE4DA;
    color: #776e65;
}

.x4 {
    background-color: #EEE1C9;
    color: #776e65;
}

.x8 {
   background-color: #F3B27A;
}

.x16 {
   background-color: #F69664;
}

.x32 {
   background-color: #F77C5F;
}

.x64 {
   background-color: #F75F3B;
}

.x128 {
   background-color: #EDD073;
}

.x256 {
   background-color: #EDCC62;
}

.x512 {
   background-color: #EDC950;
}

.x1024 {
   background-color: #EDC53F;
   font-size: 38px;
}

.x2048 {
   background-color: #EDC22E;
   font-size: 38px;
   box-shadow: 0 0 4px #EDC22E,
   0 0 11px #EDC22E,
   0 0 19px #EDC22E,
   0 0 40px rgb(251, 239, 70),
   0 0 80px rgb(237, 193, 46, 0.7),
   0 0 90px rgb(237, 193, 46, 0.7),
   0 0 100px rgb(237, 193, 46, 0.7),
   0 0 150px rgb(237, 193, 46, 0.7),
}

.x4096,
.x8192 {
   background-color: #3C3A33;
   font-size: 38px;
}

.x16384,
.x32768,
.x65536 {
   background-color: #000000;
   font-size: 30px;
}

.x131072 {
   background: linear-gradient(120deg, rgba(255,97,97,1) 0%, rgba(255,186,94,1) 20%, rgba(252,255,110,1) 40%, rgba(131,255,122,1) 60%, rgba(125,120,255,1) 80%, rgba(241,110,255,1) 100%);
   color: black;
   font-size: 25px;
   border: 1px solid white;
}

#gameOverModal {
   position: absolute;
   height: 100vh;
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.557);
   display: flex;
   justify-content: center;
   align-items: center;
}

#gameOverWindow {
   width: 50%;
   height: 50%;
   background-color: #EEE1C9;

}