#board,
#visual-board {
   position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
    border-radius: 6px;
    background-color: $bg2;
    margin-bottom: 40px;
}

#visual-board {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0x;
   left: 0px;
   z-index: 0;
}

.cell,
.colored-cell {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 106px;
   width: 106px;
   border-radius: 3px;
   position: relative;
   z-index: 1;
   font-size: 55px;
   font-weight: 700;
   color: white;
}

.colored-cell {
   background-color: $bg1;
   z-index: -1;
}

#game-over,
#you-win {
   position: absolute;
   z-index: 100;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 40px;
   justify-content: center;
   align-items: center;
   transition: 3s;
   opacity: 0%;
   cursor: default;
}

#game-over {
   background-color: rgba(237, 227, 217, 0.73);
   z-index: 2;
}

#game-over  h1 {
   font-size: 60px;
   line-height: 60px;
   color: $color3;
}

.game-over-restart {
   @include button;
   cursor: default;
}

#you-win {
   background-color: rgba(237, 192, 44, 0.5);
   z-index: 1;
}

#you-win h1 {
   font-size: 60px;
   line-height: 60px;
   color: $color1;
}

#win-btn-container {
   display: flex;
   gap: 20px;
}

.keep-going-btn,
.you-win-restart-btn {
   @include button;
   cursor: default;
}

// Cell Number Color
.x2 {
    background-color: #EEE4DA;
    color: #776e65;
}

.x4 {
    background-color: #EEE1C9;
    color: #776e65;
}

.x8 {
   background-color: #F3B27A;
}

.x16 {
   background-color: #F69664;
}

.x32 {
   background-color: #F77C5F;
}

.x64 {
   background-color: #F75F3B;
}

.x128 {
   background-color: #EDD073;
   box-shadow: 0px 0px 10px 1px #EDD073;
}

.x256 {
   background-color: #EDCC62;
   box-shadow: 0px 0px 10px 2px #EDCC62;
}

.x512 {
   background-color: #EDC950;
   box-shadow: 0px 0px 10px 3px #EDC950;
}

.x1024 {
   background-color: #EDC53F;
   box-shadow: 0px 0px 10px 4px #EDC53F;
   font-size: 38px;
}

.x2048 {
   background-color: #EDC22E;
   box-shadow: 0px 0px 10px 5px #EDC22E;
   font-size: 38px;
}

.x4096,
.x8192 {
   background-color: #3C3A33;
   font-size: 38px;
}

.x16384,
.x32768,
.x65536 {
   background-color: #000000;
   font-size: 30px;
}

.x131072 {
   background: linear-gradient(120deg, rgba(255,97,97,1) 0%, rgba(255,186,94,1) 20%, rgba(252,255,110,1) 40%, rgba(131,255,122,1) 60%, rgba(125,120,255,1) 80%, rgba(241,110,255,1) 100%);
   color: black;
   font-size: 25px;
   border: 1px solid white;
}