// Media Queries

$ipad: 768px;
$ipadPro: 1024px;
$laptop13: 1280px;
$laptop: 1440px;
$pc: 1920px;
$bigPc: 2560px;

// Font & colors

$color1: #ffffff;
$color2: #faf8ef;
$color3: #776e65;
$bg1: #CDC1B4;
$bg2: #bbada0;
$bg3: #8f7a66;

$font: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
